/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/* NOTE: At the time of the creation of this keymap, there are no specified codes for 'eisuu' and 'kana' input in ZMK.
However, 'LANG1' and 'LANG2' are fully-functioning candidates for 'kana' and 'eisuu' input respectively.
As such, those are in use within the default layer at this time.*/

/ {
    keymap {
        compatible = "zmk,keymap";

        gallium {
            bindings = <
&kp GRAVE         &kp N1          &kp N2  &kp N3    &kp N4        &kp N5                              &kp N6  &kp N7  &kp N8     &kp N9      &kp N0            &kp MINUS
&trans            &kp TAB         &kp L   &kp D     &kp C         &kp V                               &kp J   &kp F   &kp O      &kp U       &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans            &kp B           &kp R   &kp T     &kp S         &kp G                               &kp Y   &kp H   &kp A      &kp E       &kp SEMICOLON     &kp BACKSPACE
&kp LEFT_CONTROL  &kp LEFT_SHIFT  &kp Q   &kp M     &kp W         &kp Z      &kp J         &trans     &kp K   &kp P   &kp COMMA  &kp PERIOD  &kp I             &kp EQUAL
&to 1             &kp X           &trans  &kp LGUI  &kp LEFT_ALT  &kp SPACE  &kp ESCAPE    &kp ENTER  &kp N   &mo 2   &trans     &kp SQT     &kp SLASH         &kp BACKSLASH
            >;
        };

        WASD {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // | GRAVE  |   1    |   2    |   3    |   4    |   5    |                                      |   6    |   7    |   8    |   9    |   0    |  DEL   |
            // |  TAB   |   Q    |   W    |   E    |   R    |   T    |                                      |   Y    |   U    |   I    |   O    |   P    |  BSPC  |
            // |  CTRL  |   A    |   S    |   D    |   F    |   G    |                                      |   H    |   J    |   K    |   L    |   ;    |   '    |
            // |  SHIFT |   Z    |   X    |   C    |   V    |   B    |  LBKT  |                    |  RBKT  |   N    |   M    |   ,    |   .    |   /    |  RET   |
            // | ADJUST |  ESC   |  ALT   |  LGUI  | EISUU  | LOWER  | SPACE  |                    |  SPACE | RAISE  |  KANA  |  LEFT  |  DOWN  |  UP    |  RIGHT |

            bindings = <
&trans  &trans   &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp TAB  &kp Q   &kp W   &kp E   &kp R                     &kp T   &kp Y   &kp U   &kp I   &kp O   &trans
&trans  &trans   &kp A   &kp S   &kp D   &kp F                     &kp G   &kp H   &kp J   &kp K   &trans  &trans
&trans  &trans   &trans  &kp Z   &kp X   &kp C   &kp V     &trans  &kp B   &kp N   &kp M   &trans  &trans  &trans
&to 0   &trans   &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Nav {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                    &kp F6          &kp F7          &kp F8        &kp F9           &kp F10  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans                    &trans          &trans          &trans        &trans           &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans          &trans          &trans        &trans           &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans          &trans          &trans        &trans           &trans   &trans
            >;
        };
    };
};
